<div class="breadcrumb">
    <div class="container">
        <a class="breadcrumb-item" href="index.html">Inicio</a>
        <span class="breadcrumb-item active">Tienda</span>
    </div>
</div>
<section class="static about-sec">
    <div class="container">
        
        <h2>Libros disponibles en nuestra tienda.</h2>
        <div class="recent-book-sec">


            <div class="row">
                <div class="col-md-3">
                    <div class="item">
                        <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.agapea.com%2FGrijalbo%2FSomos-lo-que-hablamos-i1n17473367.jpg&f=1&nofb=1"  alt="img">
                        <h3>Somos lo que vestimos</h3>
                        <h6><span class="price">¡Gratis!</span> / <a href="https://www.uv.mx/pozarica/cba/files/2017/09/3-Manual-de-practicas-de-anatomia-topografica-veterinaria-aplicada.pdf">Descargar ahora</a></h6>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="item">
                        <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fimages.cdn1.buscalibre.com%2Ffit-in%2F360x360%2F53%2F41%2F53411da0039e09ee605b40c5fc87cfe8.jpg&f=1&nofb=1"  alt="img">
                        <h3>Moda sostenible.</h3>
                        <h6><span class="price">¡Gratis!</span> / <a href="https://buleria.unileon.es/bitstream/handle/10612/7207/Fern%C3%A1ndez%20Matilla%2C%20Mar%C3%ADa%20Del%20Arrabal.pdf?sequence=1">Descargar ahora</a></h6>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="item">
                        <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi.pinimg.com%2Foriginals%2Fce%2F90%2Fd1%2Fce90d1e304e9f54a9a86ff5807039133.jpg&f=1&nofb=1"  alt="img">
                        <h3>Historia, Conceptos y Técnicas de la Escultura</h3>
                        <h6><span class="price">¡Gratis!</span> / <a href="https://eprints.ucm.es/38936/1/T37727.pdf">Descargar ahora</a></h6>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="item">
                        <img src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2F2.bp.blogspot.com%2F-pF-GnHLgqak%2FTvldDAyNAlI%2FAAAAAAAAAas%2FdGQfoX406wU%2Fs1600%2F9788490011447_frontcover.jpg&f=1&nofb=1"  alt="img">
                        <h3>Tratado de la pintura en general</h3>
                        <h6><span class="price">¡Gratis!</span> / <a href="https://www.biblioteca.org.ar/libros/154424.pdf">Descargar ahora</a></h6>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</section>