<header>
  <div class="header-top">
      <div class="container">
          <div class="row">
              <div class="col-md-3"><a href="#" class="web-url">www.textolandia.com</a></div>
              <div class="col-md-6">
                  <h5>Envío gratis por más de $99 + 3 muestras gratis con cada pedido</h5></div>
              <div class="col-md-3">
                  <span class="ph-number">Llama: +504 8784-9513</span>
              </div>
          </div>
      </div>
  </div>
  <div class="main-menu">
      <div class="container">
          <nav class="navbar navbar-expand-lg navbar-light">
              <a class="navbar-brand" href="Inicio"><img src="assets/images/logo.png" alt="logo"></a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav ml-auto">
                      <li class="navbar-item active">
                          <a routerLink="/Inicio" routerLinkActive="Active" class="nav-link">Inicio</a>
                      </li>
                      <li class="navbar-item">
                        <a routerLink="/Tienda" routerLinkActive="Active" class="nav-link">Tienda</a>
                      </li>
                      <li class="navbar-item">
                        <a routerLink="/SobreNosotros" routerLinkActive="Active" class="nav-link">Sobre nosotros</a>
                      </li>
                      <li class="navbar-item">
                        <a routerLink="/FAQ" routerLinkActive="Active" class="nav-link">FAQ</a>
                      </li>
                      <li class="navbar-item">
                        <a routerLink="/IniciarSesion" routerLinkActive="Active" class="nav-link">Inicia sesion</a>
                      </li>
                  </ul>
                 
                  <div class="cart my-2 my-lg-0">
                      <span>
                          <i class="fa fa-shopping-cart" aria-hidden="true"></i></span>
                      <span class="quntity">3</span>
                  </div>
                  <form class="form-inline my-2 my-lg-0">
                      <input class="form-control mr-sm-2" type="search" placeholder="Busca aqui..." aria-label="Search">
                      <span class="fa fa-search"></span>
                  </form>
              </div>
          </nav>
      </div>
  </div>
</header>

<router-outlet></router-outlet>


<footer>
  <div class="container">
      <div class="row">
          <div class="col-md-4">
              <div class="address">
                  <h4> Nuestra dirección </h4>
                   <h6> El tema de la librería, cuarta tienda
                   Junto a ese edificio, EE. UU. </h6>
                   <h6> Llame al: 800 1234 5678 </h6>
                   <h6> Correo electrónico: info@bookstore.com </h6>
              </div>
              <div class="timing">
                  <h4> Calendario </h4>
                   <h6> De lunes a viernes: de 7 a.m. a 10 p.m. </h6>
                   <h6> Sábado: de 8 a.m. a 10 p.m. </h6>
                   <h6> Domingo: 8:00 a.m. - 11:00 p.m. </h6>
              </div>
          </div>

          <div class="col-md-5">
              <div class="form">
                  <h3>Contáctenos rápidamente</h3>
                   <h6>Ahora ofrecemos un buen descuento
                       en libros seleccionados, vaya y cómprelos </h6>
                  <form>
                      <div class="row">
                          <div class="col-md-6">
                              <input placeholder="Nombre" required>
                          </div>
                          <div class="col-md-6">
                              <input type="email" placeholder="Correo electrónico" required>
                          </div>
                          <div class="col-md-12">
                              <textarea placeholder="Tu mensaje..."></textarea>
                          </div>
                          <div class="col-md-12">
                              <button class="btn black">Muy bien, enviar</button>
                          </div>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
  <div class="copy-right">
      <div class="container">
          <div class="row">
              <div class="col-md-6">
                  <h5>(C) 2020. Todos los derechos reservados. Textolandia.</h5>
              </div>
              <div class="col-md-6">
                  <div class="share align-middle">
                      <span class="fb"><i class="fa fa-facebook-official"></i></span>
                      <span class="instagram"><i class="fa fa-instagram"></i></span>
                      <span class="twitter"><i class="fa fa-twitter"></i></span>
                      <span class="pinterest"><i class="fa fa-pinterest"></i></span>
                      <span class="google"><i class="fa fa-google-plus"></i></span>
                  </div>
              </div>
          </div>
      </div>
  </div>
</footer>