<div class="breadcrumb">
    <div class="container">
        <a class="breadcrumb-item" routerLink="/Inicio">Inicio</a>
        <span class="breadcrumb-item active">Sobre nosotros</span>
    </div>
</div>
<section class="static about-sec">
    <div class="container">
        <h1>Sobre nosotros</h1>
        <div class="img-sec">
            <img src="assets/images/about.png" alt="about">
            <p>Bienvenidos a Textolandia. </p>
            <p>
                Brindándole acceso a los mejores libros en Español.
                Libros in español fue fundado en 2018 para servir a los lectores que quieran leer en español. Somos una
                tienda online para libros en español en los Estados Unidos.
                Ofrecemos libros en español en todas las categorías y continuamos agregando más contenido cada día.
                Esperamos ofrecerle el mejor servicio, si hay un libro que no está disponible en nuestra página por
                favor envíenos un email y vamos a tratar de encontrarlo para usted si está disponible.
                Nuestro principal objetivo es traerle los mejores libros en español disponibles en Estados Unidos. Por
                favor, póngase en contacto con nosotros, siempre queremos escuchar sus comentarios y sugerencias.
            </p>
        </div>
    </div>
</section>