<section class="slider">
    <div class="container">
        <div id="owl-demo" class="owl-carousel owl-theme">
            <div class="item">
                <div class="slide">
                    <img src="assets/images/slide1.jpg" alt="slide1">
                    <div class="content">
                        <div class="title">
                            <h3>¡Bienvenido a Textolandia!</h3>
                            <h5>Descubre los mejores libros online con nosotros</h5>
                            <a routerLink="/Inicio" class="btn">Tienda de libros</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="slide">
                    <img src="assets/images/slide2.jpg" alt="slide1">
                    <div class="content">
                        <div class="title">
                            <h3>¡Busca, encuentra y lee!</h3>
                            <h5>Tenemos los mejores libros para ti.</h5>
                            <a href="#" class="btn">Tienda de libros</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="slide">
                    <img src="assets/images/slide3.jpg" alt="slide1">
                    <div class="content">
                        <div class="title">
                            <h3>¿No encuentras un libro?</h3>
                            <h5>Podemos conseguir cualquier libro para ti.</h5>
                            <a href="#" class="btn">Tienda de libros</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="slide">
                    <img src="assets/images/slide4.jpg" alt="slide1">
                    <div class="content">
                        <div class="title">
                            <h3>Compra un libro y sera tuyo para siempre</h3>
                            <h5>tu libro estara disponible 24/7</h5>
                            <a href="#" class="btn">Tienda de libros</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="recomended-sec">
    <div class="container">
        <div class="title">
            <h2>libros muy recomendados</h2>
            <hr>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="item">
                    <img src="assets/images/img1.jpg" alt="img">
                    <h3>how to be a bwase</h3>
                    <h6><span class="price">$49</span> / <a href="#">Buy Now</a></h6>
                    <div class="hover">
                        <a href="product-single.html">
                            <span><i class="fa fa-long-arrow-right" aria-hidden="true"></i></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="item">
                    <img src="assets/images/img2.jpg" alt="img">
                    <h3>How to write a book...</h3>
                    <h6><span class="price">$19</span> / <a href="#">Buy Now</a></h6>
                    <span class="sale">Sale !</span>
                    <div class="hover">
                        <a href="product-single.html">
                            <span><i class="fa fa-long-arrow-right" aria-hidden="true"></i></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="item">
                    <img src="assets/images/img3.jpg" alt="img">
                    <h3>7-day self publish...</h3>
                    <h6><span class="price">$49</span> / <a href="#">Buy Now</a></h6>
                    <div class="hover">
                        <a href="product-single.html">
                            <span><i class="fa fa-long-arrow-right" aria-hidden="true"></i></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="item">
                    <img src="assets/images/img4.jpg" alt="img">
                    <h3>wendy doniger</h3>
                    <h6><span class="price">$49</span> / <a href="#">Buy Now</a></h6>
                    <div class="hover">
                        <a href="product-single.html">
                            <span><i class="fa fa-long-arrow-right" aria-hidden="true"></i></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="about-sec">
    <div class="about-img">
        <figure style="background:url(./assets/images/about-img.jpg)no-repeat;"></figure>
    </div>
    <div class="about-content">
        <h2>Sobre la Textolandia,</h2>
        <p>Somos una familia de personas que comparten el placer de leer y la pasión por la cultura. Nuestro reto es
            hacer de esta familia, de este círculo de amigos, algo más grande, más cálido, cada día. Ello significa
            crear un ambiente relajado, estimulante, íntimo, bello, inteligente… Que los clientes sientan que
            Textolandia es como su segunda casa, o mejor aún: ¡que sientan que es la primera! </p>
        <p>Por supuesto, Textolandia no es solamente una librería. Realmente nos gustaría ser apreciados como un lugar
            generador de procesos culturales.</p>
        <div class="btn-sec">
            <a href="Tienda" class="btn yellow">tienda de libros</a>
            <a href="login.html" class="btn black">suscripciones</a>
        </div>
    </div>
</section>

<section class="features-sec">
    <div class="container">
        <ul>
            <li>
                <span class="icon"><i class="fa fa-shopping-cart" aria-hidden="true"></i></span>
                <h3>COMPRAS SEGURAS</h3>
                <h5>Garantía de compra segura</h5>
                <h6>¡SÍ! Todas las compras que realices en nuestra tienda online son 100% seguras.</h6>
            </li>
            <li>
                <span class="icon return"><i class="fa fa-reply-all" aria-hidden="true"></i></span>
                <h3>30 DÍAS DEVOLUCIÓN</h3>
                <h5>Garantía de devolución de dinero</h5>
                <h6>El reembolso se proporcionará solo si el cliente experimenta problemas técnicos causados o
                    relacionados con los artículos controlados al 100% por Textolandia.</h6>
            </li>
            <li>
                <span class="icon chat"><i class="fa fa-comments" aria-hidden="true"></i></span>
                <h3>SOPORTE 24/7</h3>
                <h5>Consultas online</h5>
                <h6>No olvides que desde el día en el que te registraste como Socio Textolandia en la aplicación,
                    cuentas con Soporte las 24 horas, los 7 días de la semana.</h6>
            </li>
        </ul>
    </div>
</section>